# Build output
build/
out/
deploy/
dist/

# IDE / editor
.vs/
.vscode/
*.user

# Windows
desktop.ini
Thumbs.db

# Tool logs
aqtinstall.log

# Companion module dependencies
companion-module/**/node_modules/
companion-module/**/*.tgz
